body {
  background-color: #f5eedc;
}
hr {
  background-color: #f5eedc;
  border-style: none;
  border-top: dotted;
  width: 5%;
  border-color: black;
  border-width: 5px;
}
h1 {
  color: black;
  font-size: 50 px;
}
h2 {
  color: #632626;
}
h3 {
  color: #632626;
}
body {
  margin-top: 50px;
}
